In [2]:
# 1)
# Comma Separate Values (CSV) is common
# file format to store rectangular data.

# Pandas can be used to read csv data directly
# into a DataFrame object! Use the "read_csv"
# function on the pandas module to read the 
# file "covid.csv" into a DataFrame.
import pandas as pd
data = pd.read_csv("covid.csv")
data

                Country  Confirmed  Deaths  Recovered  Active
0           Afghanistan        120       4          2     114
1               Albania        212      10         33     169
2               Algeria        511      31         31     449
3               Andorra        334       6          1     327
4                Angola          7       2          0       5
..                  ...        ...     ...        ...     ...
172           Venezuela        119       2         39      78
173             Vietnam        188       0         25     163
174  West Bank and Gaza        109       1         18      90
175              Zambia         29       0          0      29
176            Zimbabwe          7       1          0       6

[177 rows x 5 columns]

In [14]:
# 2)
# Get the top 3 countries with the most deaths.
# HINT: you can use ranges in .iloc, just like
# in Python lists.

data.sort_values("Deaths",ascending=False).iloc[:3,[0,2]]

    Country  Deaths
82    Italy   10779
150   Spain    6803
34    China    3304

In [10]:
# 3)
# How many deaths does Spain have reported
# in this dataset?
data[data.Country == "Spain"].loc[:,["Country","Deaths"]]

    Country  Deaths
150   Spain    6803

In [15]:
# 4)
# Get the country with the 10th highest number
# of confirmed cases.
data.sort_values("Confirmed",ascending=False).iloc[10,:]

Country      Belgium
Confirmed      10836
Deaths           431
Recovered       1359
Active          9046
Name: 16, dtype: object

In [24]:
# 5)
# Filter the DataFrame to only contain rows
# where there are more than 100 confirmed 
# cases but less than 1000 confirmed cases: 

data[data.Confirmed > 100][data.Confirmed<1000]

<ipython-input-24-051e81f759b4>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data.Confirmed > 100][data.Confirmed<1000]

                Country  Confirmed  Deaths  Recovered  Active
0           Afghanistan        120       4          2     114
1               Albania        212      10         33     169
2               Algeria        511      31         31     449
3               Andorra        334       6          1     327
6             Argentina        745      19         72     654
..                  ...        ...     ...        ...     ...
170             Uruguay        304       1          0     303
171          Uzbekistan        144       2          7     135
172           Venezuela        119       2         39      78
173             Vietnam        188       0         25     163
174  West Bank and Gaza        109       1         18      90

[62 rows x 5 columns]

In [38]:
# 6)
# Return a Series of country names where
# where there are more reported Deaths than 
# people Recovered

data.loc[data.Deaths > data.Recovered][["Country"]]

                 Country
0            Afghanistan
3                Andorra
4                 Angola
20               Bolivia
22                Brazil
27            Cabo Verde
29              Cameroon
37      Congo (Kinshasa)
43               Czechia
48    Dominican Republic
49               Ecuador
58               Finland
60                 Gabon
61                Gambia
64                 Ghana
70                Guyana
77             Indonesia
80               Ireland
98             Lithuania
104                 Mali
107            Mauritius
108               Mexico
112           Montenegro
113              Morocco
117          Netherlands
119            Nicaragua
120                Niger
122      North Macedonia
123               Norway
126               Panama
128             Paraguay
129                 Peru
130          Philippines
131               Poland
132             Portugal
140           San Marino
143               Serbia
147             Slovenia
152                Sudan
154               Sweden
156                Syria
162  Trinidad and Tobago
163              Tunisia
164               Turkey
167              Ukraine
169       United Kingdom
170              Uruguay
176             Zimbabwe

In [41]:
# 7)
# Series objects have a method called `.isin()`
# which takes one parameter: a list or Series
# and returns a boolean series, indicating 
# whether or not the value is in the list/Series.

# Get the total number of deaths (the sum)
# in the all following countries combined:

countries = ['Spain', 'Germany', 'England', 'Portugal', 'France']

data[data.Country.isin(countries)].Deaths.sum()

10066

In [44]:
# 8)
# Get the mean number of active cases for 
# countries with deaths < 100

data[data.Deaths < 100].Active.mean()

469.59375

In [45]:
# 9)
# Filter the dataframe to only include
# countries which have more than the mean
# number of deaths (i.e. compute the average
# death toll across all the countries,
# then filter the dataframe to only include
# countries with more deaths than that).

mean = data.Deaths.mean()
data[data.Deaths > mean]

            Country  Confirmed  Deaths  Recovered  Active
16          Belgium      10836     431       1359    9046
34            China      82122    3304      75582    3236
59           France      40708    2611       7226   30871
63          Germany      62095     533       9211   52351
78             Iran      38309    2640      12391   23278
82            Italy      97689   10779      13030   73880
117     Netherlands      10930     772        253    9905
150           Spain      80110    6803      14709   58598
155     Switzerland      14829     300       1595   12934
165              US     140886    2467       2665       0
169  United Kingdom      19780    1231        151   18398